{mode, max}.
% {mode, {rate, 1}}.

{duration, 20}.

{concurrent, 80}.

{driver, basho_bench_driver_riakc_pb}.

{code_paths, ["deps/stats",
              "deps/riakc",
              "deps/protobuffs"]}.

{key_generator, {random_highscore_key, 2000000}}.

{value_generator, {fixed_bin, 10000}}.

{riakc_pb_ips, [{172,18,167,11}, {172,18,167,12}, {172,18,167,13}, {172,18,167,15}]}.

{riakc_pb_replies, 1}.

{operations, [{get_gamestate, 1},{get, 25},{put_gamestate, 1}]}.
